# ==========================================
# 1. ẨN FILE BIẾN MÔI TRƯỜNG CHỨA MẬT KHẨU
# ==========================================
.env

# ==========================================
# 2. ẨN CẤU HÌNH CỦA CÁC IDE (VS Code, IntelliJ)
# ==========================================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==========================================
# 3. ẨN FILE RÁC CỦA HỆ ĐIỀU HÀNH
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db